# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Keys
kalshi.key
*.pem
*.key

# Database
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs
.idea/
.vscode/
*.swp
